<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style media="screen">
        body {
            font-family: Arial, sans-serif;
            {#background-image: url("{% static 'profile_pic/Customer/phy2.jpeg' %}");#}
            /* Use the 'static' tag to correctly reference your image path */
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
            background-size: cover;
            background-position: center;
        }

        /* Other styles remain unchanged */
    </style>
    <title>Customer</title>
</head>

<body>

{% include "insurance/navbar.html" %}

<div class="content">
    <div class="jumbotron">
        <h1 class="display-4">Hello, Customer</h1>
        <p class="lead">Welcome to the Nakili Insurance Firm</p>
        <hr class="my-4">
        <div class="btn-container">
            <form method="post">
                {% csrf_token %}
                <a class="btn btn-danger btn-lg" href="customersignup" role="button">Create Your Account</a>
                <a class="btn btn-success btn-lg" href="customerlogin" role="button">Login</a>
            </form>
        </div>
    </div>
</div>

{% include "insurance/footer.html" %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
